
/*
<!-- 
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aparium/fonts/ahg-fonts.css">
<link rel="stylesheet" type="text/css" href="https://aparium.github.io/aparium/fonts/ahg-fonts.css">
-->
*/
https://cdn.jsdelivr.net/gh/aparium/booking-engine/social-icons/twitter.svg

/**  mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
|    AHG |   APARIUM
|    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
*/




/* ************************** */
/* FONTS */
/* ************************** */



  /* ************************** */
  /* Freight-Big */
  /* ************************** */

  /* freight-big-pro-300 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-big-pro';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-light.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-light.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-light.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-light.ttf') format('truetype'),
  }

  /* freight-big-pro-400 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-big-pro';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-book.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-book.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-book.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-book.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-book.ttf') format('truetype'),
  }

    /* freight-big-pro-500 - latin */
    @font-face {
      font-display: swap;
      /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'freight-big-pro';
      font-style: normal;
      font-weight: 500;
      src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-medium.eot');
      src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-medium.ttf') format('truetype'),
    }
  
  
  /* freight-big-pro-600 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-big-pro';
    font-style: normal;
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-semibold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-semibold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-semibold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-semibold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-semibold.ttf') format('truetype'),
  }



    /* freight-big-pro-700 - latin */
    @font-face {
      font-display: swap;
      /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'freight-big-pro';
      font-style: normal;
      font-weight: 700;
      src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-bold.eot');
      src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big-pro/freight-big-pro-bold.ttf') format('truetype'),
    }



  /* ************************** */
  /* Freight-Sans */
  /* ************************** */

  /* freight-sans-pro-300 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-sans-pro';
    font-style: normal;
    font-weight: 200;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-light.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-light.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-light.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-light.ttf') format('truetype'),
  }

  /* freight-sans-pro-400 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-sans-pro';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-book.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-book.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-book.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-book.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-book.ttf') format('truetype'),
  }

    /* freight-sans-pro-500 - latin */
    @font-face {
      font-display: swap;
      /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'freight-sans-pro';
      font-style: normal;
      font-weight: 400;
      src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-medium.eot');
      src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-medium.ttf') format('truetype'),
    }
  
  
  /* freight-sans-pro-600 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-sans-pro';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-semibold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-semibold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-semibold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-semibold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-semibold.ttf') format('truetype'),
  }



    /* freight-sans-pro-700 - latin */
    @font-face {
      font-display: swap;
      /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'freight-sans-pro';
      font-style: normal;
      font-weight: 700;
      src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-black.eot');
      src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans-pro/freight-sans-pro-bold.ttf') format('truetype'),
    }


* {
  box-sizing: border-box;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: inherit !important;
}

.desktop_hide,
.desktop_hide table {
  mso-hide: all;
  display: none;
  max-height: 0;
  overflow: hidden;
}

.footer-image_block img+div {
  display: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



/* Freight-Big */


.freight-big-pro-light {
  font-family: "freight-big-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.freight-big-pro-book {
  font-family: "freight-big-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.freight-big-pro-mediumn {
  font-family: "freight-big-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.freight-big-pro-semibold {
  font-family: "freight-big-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.freight-big-pro-bold {
  font-family: "freight-big-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Freight-Sans */

.freight-sans-pro-light {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.freight-sans-pro-book {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.freight-sans-pro-mediumn {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.freight-sans-pro-semibold {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.freight-sans-pro-bold {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}
