/*! CSS Used from: https://cdn.shrglobal.com/IBE/css/styles.css?v=4unfcropguf4 */
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

div, span, h2, p, a, img, ul, li {
    font-size: 100%;
    font-family: inherit;
}

a img {
    border: none;
}

a {
    outline: none;
}

h2 {
    font-size: 1.429em;
    line-height: 1;
    margin-bottom: .5em;
}

h2 a {
    text-decoration: none;
}

p, ul {
    margin: 0 0 1.429em;
}

ul {
    margin-left: 1.65em;
}

ul li {
    list-style-type: disc;
}

b {
    font-weight: 400;
}

a:link, a:visited {
    color: var(--secondary);
    text-decoration: none;
}

@media screen and (min-width:750px) {
    a:hover, a:active {
        color: #1a1a1a;
    }
}

h2 a {
    text-decoration: none;
}

.ws-button {
    font-size: 1em;
    display: inline-block;
    border-width: 1px;
    padding-left: .715em;
    padding-right: .715em;
    position: relative;
}

.ws-button {
    font-family: opensans, Arial, sans-serif;
    border: 0;
}

.ws-button {
    -webkit-appearance: none;
}

.ws-button {
    height: 2.143em;
    line-height: 1.858;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
}

.ws-primary, a.ws-primary {
    background-color: #239ce5;
    color: #fff;
    border: 2px solid #239ce5;
}

.ws-primary:active, a.ws-primary:active {
    background-color: #666;
    color: #fff;
    border-color: transparent;
}

.ws-icon:before {
    content: attr(data-icon);
    font-family: wsicons;
    display: inline-block;
    margin-right: .25em;
    font-size: 14px;
    line-height: 20px;
    vertical-align: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: -.1em;
}

.ws-show-less, a.ws-show-less {
    display: none;
}

.ws-show-more {
    display: inline-block;
}

.ws-number {
    font-size: 1.715em;
    line-height: 1.25;
    font-weight: 700;
}

.ws-photo img {
    width: 100%;
    height: auto;
    display: block;
}

.ws-item-title {
    width: 51.954%;
    padding: 0 20px;
}

.ws-pre {
    white-space: nowrap;
}

.ws-more-less, .ws-show-small {
    display: none;
}

.ws-property-item {
    padding: 0 10px;
    padding-bottom: 1.429em;
}

.ws-property-item .ws-photo {
    float: left;
    width: 22.046%;
    margin-bottom: 0;
}

.ws-property-item .ws-property-title {
    float: left;
    width: 65.954%;
}

.ws-property-item .ws-property-address, .ws-property-item .ws-property-rating, .ws-property-item .wsDesc {
    font-size: .858em;
    line-height: 1.5;
    margin-bottom: .333em;
}

.ws-property-item .ws-property-phone {
    margin-left: 1em;
}

.ws-property-item .wsDesc {
    margin-bottom: .833em;
}

.ws-property-item .ws-property-price {
    float: right;
    width: 12%;
    text-align: right;
}

.ws-property-item .ws-property-price .ws-number {
    color: #5c993d;
}

.ws-property-item .ws-desc {
    display: block;
    font-size: .785em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ws-property-item .ws-property-price .ws-number {
    line-height: 1;
    margin-bottom: .2em;
    display: block;
}

.ws-property-item .ws-property-desc {
    float: right;
    width: 77.954%;
    padding-left: 20px;
}

.rating {
    display: inline-block;
    margin-right: .5em;
}

.rating span {
    display: inline-block;
}

.rating span b {
    display: none;
}

.rating span:before {
    font-family: wsicons;
    color: #eccc01;
    letter-spacing: .167em;
}

.four:before {
    content: '\e606''\e606''\e606''\e606';
}

.ws-properties-list .ws-desc {
    margin-bottom: .5em;
}

.ws-properties-list .ws-property-desc {
    width: 65.954%;
    float: left;
}

@media screen and (max-width:700px) {
    .ws-property-item .ws-photo {
        margin-bottom: .719em;
    }
}

@media screen and (max-width:650px) {
    .ws-property-item .ws-photo {
        display: none;
    }

    .ws-property-item .ws-property-title {
        padding: 0;
        width: 75%;
    }

    .ws-properties-list .ws-property-desc {
        padding-left: 0;
        width: 100%;
        float: none;
        clear: left;
    }

    .ws-property-item .ws-property-price {
        width: 25%;
    }
}

.ws-header-two {
    margin-bottom: 0;
    position: relative;
}

.ws-property-item.ws-header-two+.ws-property-item:before {
    content: '';
    display: block !important;
    padding-bottom: 1.429em;
    border-top: 1px solid #ddd;
}

.ws-header-two .ws-photo {
    width: 29.1667%;
    margin-bottom: 0;
}

.ws-header-two .ws-property-title {
    width: 59.833%;
}

.ws-header-two .ws-property-price {
    width: auto;
    white-space: nowrap;
    position: absolute;
    right: 10px;
    float: none;
}

.ws-header-two .ws-property-reviews {
    float: left;
    padding-left: 20px;
    width: 70.833%;
}

.ws-header-two .ws-list-action {
    float: right;
    text-align: right;
    width: 20.833%;
    padding-left: 10px;
}

.ws-header-two .ws-list-action .ws-button {
    line-height: 1.143;
    padding: .715em;
    height: auto;
}

.ws-header-two .ws-property-desc {
    width: 35.4165%;
    float: left;
}

.ws-properties-list .ws-header-two .ws-property-desc {
    width: 25%;
}

.ws-header-two .ws-property-desc p {
    font-size: .85714285em;
    line-height: 1.5;
    margin-bottom: .75em;
}

.ws-header-two .ws-list-action+.ws-property-desc+.ws-property-desc {
    padding-left: 0;
    padding-right: 20px;
}

.ws-header-two .ws-gallery-link {
    display: block;
}

.ws-header-two .ws-gallery-link a {
    display: block;
    text-decoration: none;
    font-size: .858em;
    padding: .5em;
    color: #333;
    text-align: center;
}

.ws-header-two .ws-property-desc .ws-icon:before {
    line-height: 18px;
    vertical-align: -15%;
    width: 1em;
}

.ws-header-two .rating, .ws-header-two .tripadvisor {
    margin-right: 10px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

.ws-header-two .rating {
    height: 1.5em;
}

.ws-header-two .ws-property-meta {
    display: block;
}

.ws-header-two .ws-info-meta {
    margin-right: .5em;
}

.ws-header-two .ws-distance {
    white-space: nowrap;
}

.ws-header-two .ws-launch-gallery {
    display: none;
}

.tripadvisor .ta-rating {
    display: inline-block;
    text-indent: -999em;
    vertical-align: -10%;
    overflow: hidden;
    width: 86px;
    height: 14px;
    background: transparent url(https://cdn.shrglobal.com/IBE/images/trip-advisor-rating-sprite.png);
}

.tripadvisor .ta-5-0 {
    background-position: 0 0;
}

a.ws-property-link {
    color: #333;
    text-decoration: underline;
}

a.ws-property-link:hover {
    color: var(--secondary);
}

@media screen and (max-width:880px) {
    .ws-header-two .ws-gallery-link a {
        background-color: #f2f2f2;
    }

    .ws-header-two .ws-list-action .ws-button {
        padding: .358em;
    }
}

@media screen and (max-width:700px) {
    .ws-property-item .ws-property-price .ws-number {
        margin-bottom: 0;
    }
}

@media screen and (max-width:650px) {
    .ws-header-two {
        padding-bottom: .715em;
    }

    .ws-header-two .ws-photo {
        display: none;
    }

    .ws-header-two .ws-launch-gallery {
        display: block;
    }

    .ws-header-two .ws-property-title {
        width: 75%;
        padding-left: 0;
    }

    .ws-header-two .ws-property-price {
        width: 25%;
    }

    .ws-header-two .ws-property-desc, .ws-properties-list .ws-header-two .ws-property-desc {
        width: 50%;
        margin-left: 0;
        padding-left: 0;
        clear: both;
    }

    .ws-header-two .ws-property-desc+.ws-property-desc {
        clear: none;
    }

    .ws-header-two .ws-list-action .ws-button {
        width: 100%;
    }

    .ws-header-two .ws-list-action {
        text-align: center;
        width: 100%;
        padding-left: 0;
        padding-top: .359em;
    }

    .ws-header-two .ws-property-reviews {
        width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width:650px) {
    .ws-disclose {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    .ws-property-street {
        display: block;
    }

    .ws-header-two .ws-property-street {
        display: inline;
    }

    .ws-property-item .ws-property-phone {
        margin-left: 0;
    }

    .ws-list-action {
        margin-bottom: .715em;
    }

    .ws-more-less, .ws-show-small {
        display: inline-block;
    }

    .ws-more-less {
        font-weight: 700;
    }

    .ws-more-less:before {
        content: "| ";
    }

    .ws-more-less .ws-show-more:after, .ws-more-less .ws-show-less:after {
        font-family: wsicons;
        font-size: 1.5em;
        line-height: 1;
        vertical-align: -20%;
    }

    .ws-more-less .ws-show-more:after {
        content: "\e005";
    }

    .ws-more-less .ws-show-less:after {
        content: "\e006";
    }

    .ws-property-item {
        padding-bottom: .715em;
    }

    .ws-property-item+.ws-property-item:before {
        content: '';
        display: block !important;
        padding-bottom: .715em;
        border-top: 1px solid #ddd;
    }
}

@media screen and (max-width:500px) {
    .ws-header-two .ws-property-desc, .ws-properties-list .ws-header-two .ws-property-desc {
        width: 100%;
    }

    a.ws-property-link {
        display: block;
        padding: .5em 0;
        border-top: 1px solid #ddd;
    }

    .ws-launch-gallery {
        border-bottom: 1px solid #ddd;
    }

    .ws-no-link {
        padding-bottom: .5em;
    }
}

.ws-disclose {
    -webkit-transition: opacity .2s ease-in 0s, max-height .2s linear 0s;
    -moz-transition: opacity .2s ease-in 0s, max-height .2s linear 0s;
    -ms-transition: opacity .2s ease-in 0s, max-height .2s linear 0s;
    transition: opacity .2s ease-in 0s, max-height .2s linear 0s;
}

.contain:before, .contain:after {
    content: " ";
    display: table;
}

.contain:after {
    clear: both;
}

a:focus {
    outline: auto;
}

.ws-property-item .coverme {
    margin-bottom: .5em !important;
}

.ws-property-item .ws-crop-this {
    padding-bottom: 2em !important;
}

.ws-properties-list .ws-crop-this {
    padding-bottom: 3em !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    white-space: nowrap;
}

a:link, a:visited, .ws-property-item .ws-property-price .ws-number {
    color: var(--primary);
}

.ws-primary, a.ws-primary {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: #fff;
}

/*! CSS Used from: https://cdn.shrglobal.com/IBE/css/styles-more.css?v=4unfcropguf4 */
.ws-crop-this {
    display: block;
    overflow: hidden;
    padding-top: 61.8%;
    height: 0;
    position: relative;
}

.ws-photocrop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.coverme {
    display: block;
    margin: 0;
    position: relative;
    max-width: none;
}

.ws-header-two .rating {
    border-right: 0;
    margin: 0;
    padding: 0;
}

.ws-header-two .tripadvisor {
    margin: 0 0 0 10px;
    border-left: 1px solid #ddd;
    border-right: 0;
    padding: 0 0 0 15px;
}

/*! CSS Used from: Embedded */
h2 {
    color: #000;
    font-family: freight-big, sans-serif !important;
    font-style: normal !important;
}

h2 {
    font-weight: 500 !important;
    text-transform: capitalize !important;
}

a {
    transition: all .3s ease-in-out 0s;
}

p {
    font-family: freight-sans, sans-serif !important;
    font-style: normal !important;
}

a b:hover {
    font-weight: 700;
}

.ws-primary, a.ws-primary {
    font-family: freight-sans, sans-serif !important;
    font-style: normal !important;
    font-weight: 600;
    text-transform: uppercase !important;
    letter-spacing: .1em !important;
    border: 2px solid #000 !important;
    border-radius: 0 !important;
    color: #000 !important;
    transition: .1s background-color linear, .1s color linear !important;
    -webkit-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    -moz-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    -ms-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    -o-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
}

.ws-primary:hover {
    border: 2px solid #000 !important;
    border-radius: 0 !important;
    background: #000 !important;
    color: #fff !important;
}

.ws-button {
    font-family: freight-sans, sans-serif !important;
    font-style: normal !important;
    font-weight: 600;
    text-transform: uppercase !important;
    letter-spacing: .1em !important;
    border-radius: 0 !important;
    background: transparent !important;
    transition: .1s background-color linear, .1s color linear !important;
    -webkit-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    -moz-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    -ms-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    -o-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
}

.ws-button:hover {
    letter-spacing: .1em !important;
    border: 2px solid #000 !important;
    border-radius: 0 !important;
}

.wsName {
    font-family: freight-big, sans-serif !important;
    font-weight: 500 !important;
    font-style: normal;
    text-transform: capitalize !important;
    letter-spacing: .2rem !important;
    color: #000 !important;
    font-size: 2em;
}

.ws-number {
    font-family: open-sans, sans-serif !important;
    font-style: normal !important;
}

.ws-number {
    font-size: xx-large;
}

.ws-property-price {
    text-transform: uppercase !important;
}

.ws-property-desc.ws-disclose {
    display: none;
}

.tripadvisor .ta-rating {
    background: transparent url(https://cdn.jsdelivr.net/gh/aparium/booking-engine/trip-advisor-rating-sprite.png) !important;
    background-image: url(https://cdn.jsdelivr.net/gh/aparium/booking-engine/trip-advisor-rating-sprite.png) !important;
}

.rating span:before {
    font-family: wsicons;
    color: #FFE800 !important;
    letter-spacing: .167em;
}

/*! CSS Used fontfaces */
@font-face {
    font-family: opensans;
    src: url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Regular-webfont.eot);
    src: url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Regular-webfont.woff) format('woff'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Regular-webfont.ttf) format('truetype'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: opensans;
    src: url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Italic-webfont.eot);
    src: url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Italic-webfont.eot?#iefix) format('embedded-opentype'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Italic-webfont.woff) format('woff'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Italic-webfont.ttf) format('truetype'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic) format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: opensans;
    src: url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Bold-webfont.eot);
    src: url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Bold-webfont.woff) format('woff'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Bold-webfont.ttf) format('truetype'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-Bold-webfont.svg#OpenSansBold) format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: opensans;
    src: url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-BoldItalic-webfont.eot);
    src: url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-BoldItalic-webfont.eot?#iefix) format('embedded-opentype'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-BoldItalic-webfont.woff) format('woff'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-BoldItalic-webfont.ttf) format('truetype'), url(https://cdn.shrglobal.com/IBE/fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic) format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: wsicons;
    src: url(https://cdn.shrglobal.com/IBE/fonts/wsicons.eot);
    src: url(https://cdn.shrglobal.com/IBE/fonts/wsicons.eot?#iefix) format('embedded-opentype'), url(https://cdn.shrglobal.com/IBE/fonts/wsicons.woff) format('woff'), url(https://cdn.shrglobal.com/IBE/fonts/wsicons.ttf) format('truetype'), url(https://cdn.shrglobal.com/IBE/fonts/wsicons.svg#wsicons) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 900;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.ttf') format('truetype'), ;
}

@font-face {
    font-display: swap;
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.ttf') format('truetype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.svg#OpenSans') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.ttf') format('truetype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.svg#OpenSans') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.ttf') format('truetype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.svg#OpenSans') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.ttf') format('truetype'), url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.svg#OpenSans') format('svg');
}